body{
    margin: 0;
    text-align: center;
    background-image: url("https://img.freepik.com/premium-photo/ethereal-enchantment-vibrant-forest-assets-unveiled-rayman-legendsinspired-concept-art-with_983420-16185.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

/* #playGround{
    background-color: aqua;
} */